<a href="https://colab.research.google.com/github/Anubhav-Webknot/AIML_Bootcamp/blob/main/FeatureEngineering_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

df= pd.read_csv("./tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

One-hot encoding

In [15]:
one_hot = pd.get_dummies(df,columns=['Sex','Embarked'])
one_hot

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,0,1,0,1,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,1,0,0,0,1
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,0,1,0,1,0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,0,1,0,0,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",NaN,0,0,A.5. 3236,8.0500,NaN,0,1,0,0,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,1,0,1,0,0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0,1,0,0,1
416,1308,0,3,"Ware, Mr. Frederick",NaN,0,0,359309,8.0500,NaN,0,1,0,0,1
417,1309,0,3,"Peter, Master. Michael J",NaN,1,1,2668,22.3583,NaN,0,1,1,0,0

Perform ordinal - encoding: replace the labels by some ordinal number if ordinal is meaningful

In [16]:
ordinal_mapping = {1: 3, 2: 2, 3: 1}

df['Pclass_Ordinal'] = df['Pclass'].map(ordinal_mapping)
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked  Pclass_Ordinal
0   330911   7.8292   NaN        Q               1
1   363272   7.0000   NaN        S               1
2   240276   9.6875   NaN        Q               2
3   315154   8.6625   NaN        S               1
4  3101298  12.2875   NaN        S               1

Perform Mean encoding: replace the label by the mean of the target for that label

In [17]:
mean_encoded = df.groupby('Embarked')['Survived'].mean()
df['Embarked_MeanEncoded'] = df['Embarked'].map(mean_encoded)
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked  Pclass_Ordinal  Embarked_MeanEncoded
0   330911   7.8292   NaN        Q               1              0.521739
1   363272   7.0000   NaN        S               1              0.325926
2   240276   9.6875   NaN        Q               2              0.521739
3   315154   8.6625   NaN        S               1              0.325926
4  3101298  12.2875   NaN        S               1              0.325926

Perform target-encoding: similar to mean encoding, but use both posterior probability and probability of the target

In [18]:
posterior_prob = df.groupby('Embarked')['Survived'].mean()
prob = df['Survived'].mean()
target_encoded = (posterior_prob * len(df) + prob * 10) / (len(df) + 10)
df['Embarked_TargetEncoded'] = df['Embarked'].map(target_encoded)
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked  Pclass_Ordinal  Embarked_MeanEncoded  \
0   330911   7.8292   NaN        Q               1              0.521739
1   363272   7.0000   NaN        S               1              0.325926
2   240276   9.6875   NaN        Q               2              0.521739
3   315154   8.6625   NaN        S               1              0.325926
4  3101298  12.2875   NaN        S               1              0.325926

   Embarked_TargetEncoded
0                0.518045
1                0.326807
2                0.518045
3                0.326807
4                0.326807

Perform Weight of Evidence (WOE) encoding: replace the label with WOE of each label.

In [19]:
proportion_survived = df.groupby('Embarked')['Survived'].mean()
proportion_not_survived = 1 - proportion_survived

woe = np.log(proportion_survived / proportion_not_survived)
df['Embarked_WOE'] = df['Embarked'].map(woe)
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked  Pclass_Ordinal  Embarked_MeanEncoded  \
0   330911   7.8292   NaN        Q               1              0.521739
1   363272   7.0000   NaN        S               1              0.325926
2   240276   9.6875   NaN        Q               2              0.521739
3   315154   8.6625   NaN        S               1              0.325926
4  3101298  12.2875   NaN        S               1              0.325926

   Embarked_TargetEncoded  Embarked_WOE
0                0.518045      0.087011
1                0.326807     -0.726670
2                0.518045      0.087011
3                0.326807     -0.726670
4                0.326807     -0.726670